.container
  .row
    .col
      %h2 Videos
      %div
        Use Refresh Buttons to load videos from an external API.
    .col-2.text-end
      %div
        %a.btn.btn-warning{ href: refresh_videos_path, data: { turbo_method: 'put' }} Refresh Videos


  - @videos.each do |video|
    = render 'video', video: video
